@using X.PagedList.Mvc.Core
@using X.PagedList;
@model IPagedList<TopicInfo>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "遊戲統計與圖表 - 討論區";
}

<!-- 發表新議題 -->
<div style ="text-align:right; margin-bottom:1em">
    <a asp-area="" asp-controller="Forum" asp-action="NewTopic">
        <button type="button" class="btn btn-dark">發文</button>
    </a>
</div>
<div class="Forum">
    <div class="ForumFormat" style="background-color: #18579e7c;">
        <div class="ForumUnit"><span>編號</span></div>            
        <div class="ForumUnit"><span>標題</span></div>
        <div class="ForumUnit"><span>作者</span></div>
        <div class="ForumUnit"><span>瀏覽次數</span></div>
        <div class="ForumUnit"><span>創建時間</span></div>
        <div class="ForumUnit"><span>最後更新時間</span></div>
    </div>
   
    @foreach (var row in Model)
    {
    
        <a asp-area="" asp-controller="Forum" asp-action="Topic" asp-route-id="@row.id" style="text-decoration:none; color:#FFFFFF">
            <div class="ForumFormat">
                <div class="ForumUnit"><span>@row.id</span></div>
                <div class="ForumUnit"><span>@row.title </span></div>
                <div class="ForumUnit"><span>@row.user</span></div>
                <div class="ForumUnit"><span>@row.views</span></div>
                <div class="ForumUnit"><span>@row.date</span></div>
                <div class="ForumUnit"><span>@row.lastUpdate</span></div>
            </div>
        </a>
    }
    
</div>

<div style="text-align:right; margin-bottom:1em">
    <a asp-area="" asp-controller="Forum" asp-action="NewTopic">
        <button type="button" class="btn btn-dark">發文</button>
    </a>
</div>

<div class="pageNumber">
    @Html.PagedListPager(Model, page => Url.Action("Forum", new {page}))
</div>
