@using X.PagedList.Mvc.Core
@using X.PagedList;
@model IPagedList<TopicInfo>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "遊戲統計與圖表 - 討論區";
}

<!-- 發表新議題 -->
<div style ="text-align:right; margin-bottom:1em">
    <a asp-area="" asp-controller="Forum" asp-action="NewTopic">
        <button type="button" class="btn btn-dark">發文</button>
    </a>
</div>
<div class="tableForum" style="text-align:center;">
    <table class="table table-success table-striped" style="table-layout: fixed;">
        <thead>
            <tr class="table-dark">
                <td>編號</td>
                <td>標題</td>
                <td>作者</td>
                <td>瀏覽次數</td>
                <td>創建時間</td>
                <td>最後更新時間</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>                  
                    <td>@row.id</td>
                    <td><a asp-area="" asp-controller="Forum" asp-action="Topic" asp-route-id="@row.id">@row.title</a></td>
                    <td>@row.user</td>
                    <td>@row.views</td>
                    <td>@row.date</td>
                    <td>@row.lastUpdate</td>
                   
                </tr>
            }
            
        </tbody>
    </table>
</div>
<div style="text-align:right; margin-bottom:1em">
    <a asp-area="" asp-controller="Forum" asp-action="NewTopic">
        <button type="button" class="btn btn-dark">發文</button>
    </a>
</div>
<div class="pageNumber">
    @Html.PagedListPager(Model, page => Url.Action("Forum", new {page}))
</div>
